<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>Looking back at Minnesota's past presidential candidates</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p> 
      <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">February 6, 2019</time></div>
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>With Sen. Amy Klobuchar announcing her entry into an increasingly crowded 2020 Democratic presidential field this week, she joins the ranks of other Minnesotans who previously have competed in America's biggest political contest.</p>

        <p>While Minnesota historically counts two vice presidents among its native sons, its presidential candidates haven't fared very well, despite reaching some stage of the process in 37 percent of all races for the office.</p>
        
        <p>Minnesota's presidential candidates are like the Minnesota Vikings: often in the mix, sometimes getting close, yet never managing to clench the ultimate victory.</p>

        <p>Klobuchar is a very popular senator, as evidenced by her dominant election victories, <a href="http://www.startribune.com/how-amy-klobuchar-fared-in-trump-country/498035261/">including 2018's 60 percent vote share</a>. How her local popularity translates to the national stage remains to be seen.</p>

        <p>Here's how the past presidential candidacies of Minnesota's politicians have performed throughout time:</p>
    </section>

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Harold Stassen</h2>
        <div class="yearTag">1948 Republican Primary</div>
        <p>Aside from being Minnesota's 25th governor, Harold Stassen was also known as a perennial presidential candidate, seeking the office nine times between 1944 and 1992, his last run being just a year before his death. Most of the time, he never even came close to the nomination.</p>
        <p>His strongest presidential bid came in 1948 when he went on a streak of upset Republican primary victories against Thomas E. Dewey. Stassen and Dewey also held the country's first modern debate between presidential candidates. Stassen ultimately lost the nomination to Dewey.</p>
        <p>In his 1952 run, Stassen played a key role by releasing his primary delegates to Dwight D. Eisenhower, who went on to win the presidency.</p>
    </section>
    <div class="slide">
        <div id="map4" class="map">
          <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <div class="otherLegend"><div class="legendary gray1">no primary held</div> <div class="legendary gray3">unpledged</div></div>
        <p></p>
        <div class="contest-table">
            <table>
              <thead>
                <tr><th></th>
                <th class="cand">Candidate</th>
                <th class="votes">Votes</th>
                <th class="pct">Pct.</th>
                <th class="bar"></th></tr></thead>
    
                <tbody>
                    <tr class="party-rep3" title="Republican Party">
                        <td title="Republican Party">
                          <span class="candidate-color-label" title="Republican Party"></span>
                        </td>
                        <td class="cand">
                          <span class="first">Earl&nbsp;</span>Warren
                          <span class="party-label">(r, ca)</span>
                        </td>
                        <td class="votes"><span>771,295</span></td>
                        <td class="pct"><span class="num">27%</span></td>
                        <td class="bar" title="Republican Party">
                          <span class="pctBar" style="width: 27%;"></span>
                        </td>
                    </tr>
  
                  <tr class="party-rep1" title="Republican Party">
                    <td title="Republican Party">
                      <span class="candidate-color-label" title="Republican Party"></span>
                    </td>
                    <td class="cand mn">
                      <span class="first">Harold&nbsp;</span>Stassen
                      <span class="party-label">(r, mn)</span>
                    </td>
                    <td class="votes"><span>627,321</span></td>
                    <td class="pct"><span class="num">22%</span></td>
                    <td class="bar" title="Republican Party">
                      <span class="pctBar" style="width: 22%;"></span>
                    </td>
                </tr>
  
                <tr class="party-rep2" title="Republican Party">
                    <td title="Republican Party">
                      <span class="candidate-color-label" title="Republican Party"></span>
                    </td>
                    <td class="cand">
                      <span class="first">Robert&nbsp;</span>Taft
                      <span class="party-label">(r, oh)</span>
                    </td>
                    <td class="votes"><span>464,741</span></td>
                    <td class="pct"><span class="num">16.3%</span></td>
                    <td class="bar" title="Republican Party">
                      <span class="pctBar" style="width: 16.3%;"></span>
                    </td>
                </tr>
  
                <tr class="party-rep winner" title="Republican Party">
                    <td class="winner" title="Republican Party">
                      <span class="candidate-color-label" title="Republican Party"></span>
                      <span class="check">✓</span>
                    </td>
                    <td class="cand">
                      <span class="first">Thomas&nbsp;</span>Dewey
                      <span class="party-label">(r, ny)</span>
                    </td>
                    <td class="votes"><span>330,799</span></td>
                    <td class="pct"><span class="num">11.6%</span></td>
                    <td class="bar" title="Republican Party">
                      <span class="pctBar" style="width: 11.6%;"></span>
                    </td>
                </tr>
  
                      <tr class="party-rep4" title="Republican Party">
                          <td title="Republican Party">
                            <span class="candidate-color-label" title="Republican Party"></span>
                          </td>
                          <td class="cand">
                            <span class="first">Riley&nbsp;</span>Bender
                            <span class="party-label">(r, il)</span>
                          </td>
                          <td class="votes"><span>324,029</span></td>
                          <td class="pct"><span class="num">11.3%</span></td>
                          <td class="bar" title="Republican Party">
                            <span class="pctBar" style="width: 11.3%;"></span>
                          </td>
                      </tr>
                        
                        <tr class="party-rep5" title="Republican Party">
                            <td title="Republican Party">
                              <span class="candidate-color-label" title="Republican Party"></span>
                            </td>
                            <td class="cand">
                              <span class="first">Leverette&nbsp;</span>Saltonstall
                              <span class="party-label">(r, ma)</span>
                            </td>
                            <td class="votes"><span>72,191</span></td>
                            <td class="pct"><span class="num">2.5%</span></td>
                            <td class="bar" title="Republican Party">
                              <span class="pctBar" style="width: 2.5%;"></span>
                            </td>
                        </tr>

                        <tr class="party-rep6" title="Republican Party">
                            <td title="Republican Party">
                              <span class="candidate-color-label" title="Republican Party"></span>
                            </td>
                            <td class="cand">
                              <span class="first">Herbert&nbsp;</span>Hitchcock
                              <span class="party-label">(r, sd)</span>
                            </td>
                            <td class="votes"><span>45,463</span></td>
                            <td class="pct"><span class="num">1.6%</span></td>
                            <td class="bar" title="Republican Party">
                              <span class="pctBar" style="width: 1.6%;"></span>
                            </td>
                        </tr>
                </tbody>
            </table>
            </div>
        <div class="byline">Source: Star Tribune analysis | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Eugene McCarthy</h2>
        <div class="yearTag">1968 Democratic Primary</div>
        <p>After representing Minnesota in both the U.S. House of Representatives and the U.S. Senate, Eugene McCarthy ran for president five different times. McCarthy's most famous campaign was his attempt to primary President Lyndon B. Johnson in 1968 on an anti-Vietnam War platform.</p>
        <p>The primary was thrown into chaos when Johnson ultimately declined to seek a second term, pitting McCarthy against fellow Minnesotan and U.S. Vice President, Hubert Humphrey, who won the nomination, despite McCarthy doing well in prior state contests.</p>
        <p>McCarthy ran for president again in 1972 and 1992 as a Democrat, and as an independent in 1976 and 1998. He didn't get very far any of those races.</p>
    </section>
    <div class="slide">
        <div id="map0" class="map">
          <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <div class="otherLegend"><div class="legendary gray1">no primary held</div></div>
        <p></p>
        <div class="contest-table">
            <table>
              <thead>
                <tr><th></th>
                <th class="cand">Candidate</th>
                <th class="votes">Votes</th>
                <th class="pct">Pct.</th>
                <th class="bar"></th></tr></thead>
    
              <tbody>
                <tr class="party-dfl" title="Democratic-Farmer-Labor">
                  <td title="Democratic-Farmer-Labor">
                    <span class="candidate-color-label" title="Democratic-Farmer-Labor"></span>
                  </td>
                  <td class="cand mn">
                    <span class="first">Eugene&nbsp;</span>McCarthy
                    <span class="party-label">(d, mn)</span>
                  </td>
                  <td class="votes"><span>2,914,933</span></td>
                  <td class="pct"><span class="num">38.7%</span></td>
                  <td class="bar" title="Democratic-Farmer-Labor">
                    <span class="pctBar" style="width: 38.7%;"></span>
                  </td>
                </tr>
    
                <tr class="party-dem1" title="Democratic">
                  <td title="Democratic">
                    <span class="candidate-color-label" title="Democratic"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Robert&nbsp;</span>Kennedy
                    <span class="party-label">(d, ny)</span>
                  </td>
                  <td class="votes"><span>2,305,148</span></td>
                  <td class="pct"><span class="num">30.6%</span></td>
                  <td class="bar" title="Democratic">
                    <span class="pctBar" style="width: 30.6%;"></span>
                  </td>
                </tr>

                <tr class="party-dem2" title="Democratic">
                  <td title="Democratic">
                    <span class="candidate-color-label" title="Democratic"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Stephen M.&nbsp;</span>Young
                    <span class="party-label">(d, oh)</span>
                  </td>
                  <td class="votes"><span>549,140</span></td>
                  <td class="pct"><span class="num">7.3%</span></td>
                  <td class="bar" title="Democratic">
                    <span class="pctBar" style="width: 7.3%;"></span>
                  </td>
                </tr>

                <tr class="party-dem3" title="Democratic">
                  <td title="Democratic">
                    <span class="candidate-color-label" title="Democratic"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Lyndon B.&nbsp;</span>Johnson
                    <span class="party-label">(d, tx)</span>
                  </td>
                  <td class="votes"><span>383,590</span></td>
                  <td class="pct"><span class="num">5.1%</span></td>
                  <td class="bar" title="Democratic">
                    <span class="pctBar" style="width: 5.1%;"></span>
                  </td>
                </tr>

                <tr class="party-dem4" title="Democratic">
                  <td title="Democratic">
                    <span class="candidate-color-label" title="Democratic"></span>
                  </td>
                  <td class="cand">
                    <span class="first">George&nbsp;</span>Smathers
                    <span class="party-label">(d, fl)</span>
                  </td>
                  <td class="votes"><span>236,242</span></td>
                  <td class="pct"><span class="num">3.1%</span></td>
                  <td class="bar" title="Democratic">
                    <span class="pctBar" style="width: 3.1%;"></span>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
        <div class="byline">Source: Star Tribune analysis | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Hubert H. Humphrey</h2>
        <div class="yearTag">1968 General Election</div>
        <p>Though born in South Dakota, Hubert Humphrey is among Minnesota's most well-known politicians for, among other things, helping found the Democratic Farmer-Labor party and serving as the state's U.S. Senator.</p>
        <p>Despite not campaigning in the messy 1968 primary, then-Vice President Humphrey won that year's presidential nomination at the Democratic National Convention.</p>
        <p>Minnesota is among the most reliably Democratic states in the union during presidential election years, with the state only voting for Republicans <a href="http://www.startribune.com/just-how-close-is-minnesota-to-becoming-a-swing-state/393152021/">three times in its whole history</a>. Though Humphrey carried his home state, he still lost in a landslide to Richard Nixon.</p>
    </section>
    <div class="slide">
        <div id="map1" class="map">
          <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <div class="otherLegend"><div class="state-block dfl">DC</div></div>
        <p></p>
        <div class="contest-table">
            <table>
              <thead>
                <tr><th></th>
                <th class="cand">Candidate</th>
                <th class="votes">EV</th>
                <th class="pct">Pct.</th>
                <th class="bar"></th></tr></thead>
    
              <tbody>
                  <tr class="party-rep winner" title="Republican Party">
                      <td class="winner" title="Republican Party">
                        <span class="candidate-color-label" title="Republican Party"></span>
                        <span class="check">✓</span>
                      </td>
                      <td class="cand">
                        <span class="first">Richard&nbsp;</span>Nixon
                        <span class="party-label">(r, ca)</span>
                      </td>
                      <td class="votes"><span>301</span></td>
                      <td class="pct"><span class="num">55.9%</span></td>
                      <td class="bar" title="Republican Party">
                        <span class="pctBar" style="width: 55.9%;"></span>
                      </td>
                   </tr>

                <tr class="party-dfl" title="Democratic-Farmer-Labor">
                  <td title="Democratic-Farmer-Labor">
                    <span class="candidate-color-label" title="Democratic-Farmer-Labor"></span>
                  </td>
                  <td class="cand mn">
                    <span class="first">Hubert&nbsp;</span>Humphrey
                    <span class="party-label">(d, mn)</span>
                  </td>
                  <td class="votes"><span>191</span></td>
                  <td class="pct"><span class="num">35.5%</span></td>
                  <td class="bar" title="Democratic-Farmer-Labor">
                    <span class="pctBar" style="width: 35.5%;"></span>
                  </td>
                </tr>

                <tr class="party-dem4" title="Independent">
                    <td title="Independent">
                      <span class="candidate-color-label" title="Independent"></span>
                    </td>
                    <td class="cand">
                      <span class="first">George&nbsp;</span>Wallace
                      <span class="party-label">(d, al)</span>
                    </td>
                    <td class="votes"><span>46</span></td>
                    <td class="pct"><span class="num">8.6%</span></td>
                    <td class="bar" title="Independent">
                      <span class="pctBar" style="width: 8.6%;"></span>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="byline">Source: <a href="https://uselectionatlas.org/RESULTS/national.php?f=0&year=1968">Dave Leip's Atlas of U.S. Presidential Elections</a> | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Walter Mondale</h2>
        <div class="yearTag">1984 General Election</div>
        <p>After a long history in national politics, which included serving as Minnesota's attorney general and then U.S. Senator, Walter Mondale ultimately became Jimmy Carter's vice president before winning the Democratic nomination for president in 1984.</p>
        <p>That year, Minnesota continued its long history of Democratic voting and was the only state (plus Washington D.C.) to vote for Mondale, who suffered a crushing loss in Ronald Reagan's reelection landslide.</p>
    </section>
    <div class="slide">
        <div id="map2" class="map">
          <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <div class="otherLegend"><div class="state-block dfl">DC</div></div>
        <p></p>
        <div class="contest-table">
            <table>
              <thead>
                <tr><th></th>
                <th class="cand">Candidate</th>
                <th class="votes">EV</th>
                <th class="pct">Pct.</th>
                <th class="bar"></th></tr></thead>
    
              <tbody>
                  <tr class="party-rep winner" title="Republican Party">
                      <td class="winner" title="Republican Party">
                        <span class="candidate-color-label" title="Republican Party"></span>
                        <span class="check">✓</span>
                      </td>
                      <td class="cand">
                        <span class="first">Ronald&nbsp;</span>Reagan
                        <span class="party-label">(r, ca)</span>
                      </td>
                      <td class="votes"><span>525</span></td>
                      <td class="pct"><span class="num">58.7%</span></td>
                      <td class="bar" title="Republican Party">
                        <span class="pctBar" style="width: 58.7%;"></span>
                      </td>
                   </tr>

                <tr class="party-dfl" title="Democratic-Farmer-Labor">
                  <td title="Democratic-Farmer-Labor">
                    <span class="candidate-color-label" title="Democratic-Farmer-Labor"></span>
                  </td>
                  <td class="cand mn">
                    <span class="first">Walter&nbsp;</span>Mondale
                    <span class="party-label">(d, mn)</span>
                  </td>
                  <td class="votes"><span>13</span></td>
                  <td class="pct"><span class="num">40.5%</span></td>
                  <td class="bar" title="Democratic-Farmer-Labor">
                    <span class="pctBar" style="width: 40.5%;"></span>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="byline">Source: Dave Leip's Atlas of U.S. Presidential Elections | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Tim Pawlenty and Michelle Bachmann</h2>
        <div class="yearTag">2012 Republican Primary</div>
        <p>Former Minnesota Gov. Tim Pawlenty declared his candidacy for the GOP presidential nomination in 2011, but dropped out less than three months later after finishing third in the Ames Straw Poll.</p>
        <p>Former Minnesota Rep. Michelle Bachmann <a href="http://m.startribune.com/bachmann-wins-ames-straw-poll/127657618/">won that same straw poll with a quarter of the votes</a>. Bachmann then finished sixth in the Iowa caucuses, <a href="http://www.startribune.com/bachmann-ends-presidential-bid-i-have-decided-to-stand-aside/136655973/">prompting her to leave the race</a> – though she remained on most ballots before Super Tuesday.</p>
        <p>Both Bachmann and Pawlenty eventually endorsed Mitt Romney for the Republican nomination, which he won. Romney was later defeated by President Barack Obama in the general.</p>
    </section>
    <div class="slide">
        <div id="map3" class="map">
          <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <div class="otherLegend"><div class="state-block rep">DC</div> <div class="state-block rep">AS</div> <div class="state-block rep">GU</div> <div class="state-block rep">MP</div> <div class="state-block rep">PR</div> <div class="state-block rep">VI</div></div>
        <p></p>
        <div class="contest-table">
            <table>
              <thead>
                <tr><th></th>
                <th class="cand">Candidate</th>
                <th class="votes">Delegates</th>
                <th class="pct">Pct.</th>
                <th class="bar"></th></tr></thead>
    
              <tbody>
                  <tr class="party-rep winner" title="Republican Party">
                      <td class="winner" title="Republican Party">
                        <span class="candidate-color-label" title="Republican Party"></span>
                        <span class="check">✓</span>
                      </td>
                      <td class="cand">
                        <span class="first">Mitt&nbsp;</span>Romney
                        <span class="party-label">(r, ma)</span>
                      </td>
                      <td class="votes"><span>1,575</span></td>
                      <td class="pct"><span class="num">52.1%</span></td>
                      <td class="bar" title="Republican Party">
                        <span class="pctBar" style="width: 52.1%;"></span>
                      </td>
                  </tr>

                <tr class="party-rep1" title="Republican Party">
                  <td title="Republican Party">
                    <span class="candidate-color-label" title="Republican Party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Rick&nbsp;</span>Santorum
                    <span class="party-label">(r, pa)</span>
                  </td>
                  <td class="votes"><span>245</span></td>
                  <td class="pct"><span class="num">20.4%</span></td>
                  <td class="bar" title="Republican Party">
                    <span class="pctBar" style="width: 20.4%;"></span>
                  </td>
              </tr>

              <tr class="party-rep2" title="Republican Party">
                  <td title="Republican Party">
                    <span class="candidate-color-label" title="Republican Party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Ron&nbsp;</span>Paul
                    <span class="party-label">(r, tx)</span>
                  </td>
                  <td class="votes"><span>177</span></td>
                  <td class="pct"><span class="num">10.9%</span></td>
                  <td class="bar" title="Republican Party">
                    <span class="pctBar" style="width: 10.9%;"></span>
                  </td>
              </tr>

              <tr class="party-rep3" title="Republican Party">
                  <td title="Republican Party">
                    <span class="candidate-color-label" title="Republican Party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Newt&nbsp;</span>Gingrich
                    <span class="party-label">(r, ga)</span>
                  </td>
                  <td class="votes"><span>138</span></td>
                  <td class="pct"><span class="num">14.2%</span></td>
                  <td class="bar" title="Republican Party">
                    <span class="pctBar" style="width: 14.2%;"></span>
                  </td>
              </tr>

                    <tr class="party-rep4" title="Republican Party">
                        <td title="Republican Party">
                          <span class="candidate-color-label" title="Republican Party"></span>
                        </td>
                        <td class="cand mn">
                          <span class="first">Michelle&nbsp;</span>Bachmann
                          <span class="party-label">(r, mn)</span>
                        </td>
                        <td class="votes"><span>0</span></td>
                        <td class="pct"><span class="num">0%</span></td>
                        <td class="bar" title="Republican Party">
                          <span class="pctBar" style="width: 0%;"></span>
                        </td>
                    </tr>
                      
                      <tr class="party-rep4" title="Republican Party">
                          <td title="Republican Party">
                            <span class="candidate-color-label" title="Republican Party"></span>
                          </td>
                          <td class="cand mn">
                            <span class="first">Tim&nbsp;</span>Pawlenty
                            <span class="party-label">(r, mn)</span>
                          </td>
                          <td class="votes"><span>0</span></td>
                          <td class="pct"><span class="num">0%</span></td>
                          <td class="bar" title="Republican Party">
                            <span class="pctBar" style="width: 0%;"></span>
                          </td>
                      </tr>
              </tbody>
            </table>
        </div>
        <div class="byline">Source: Star Tribune analysis | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>
</div>