<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>Looking back at Minnesota's past presidential tickets</h1>
      <!-- <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> and <a href="http://www.startribune.com/libor-jany/219430401/">Libor Jany</a> • <span>Star Tribune</span></p>  -->
      <!-- <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">December 31, 2018</time></div> -->
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>With Minnesota's Sen. Amy Klobuchar announcing her entry into a crowded 2020 Democratic presidential field this week, it's worth noting she's not the only Minnesotan to run for President of the United States.</p>

        <p>Minnesota has famously been one of the most reliably Democratic states in the union during presidential election years, with the state only voting for Republicans three times in its whole history.</p>

        <p>When Minnesota's own are on the ticket, as with many home states, it has loyally voted for the hometown candidate over the decades. But those candidates have never nationally fared well. While Minnesota boasts two Vice Presidents in U.S. history, its record at helping get its own into the Oval Office is a less impressive 0-4.</p>

        <p>Klobuchar is a wildly popular senator in Minnesota, as evidenced by her trouncing election victories, including 2018's 63 percent vote share. How that popularity at home will translate to the national stage remains to be seen.</p>

        <p>Here's how past Minnesota candidates, both those who fizzled in the primaries and those who won the nomination, fared throughout time.</p>
    </section>

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Hubert H. Humphrey and Eugene McCarthy</h2>
        <div class="yearTag">1968 Democratic Primary</div>
        <p>The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible. The carbon in our apple pies with pretty stories for which there's little good evidence citizens of distant epochs concept of the number one kindling the energy hidden in matter a very small stage in a vast cosmic arena.</p>
    </section>
    <div class="slide">
        <div class="counter">
          <div class="name">D</div>
          <div class="name">R</div>
          <div class="blue4">0</div>
          <div class="red4">0</div>
        </div>
        <div id="map1" class="map">
          <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <div class="byline">Source: Dave Leip's Atlas of U.S. Elections | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Walter Mondale</h2>
        <div class="yearTag">1984 General Election</div>
        <p>The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible. The carbon in our apple pies with pretty stories for which there's little good evidence citizens of distant epochs concept of the number one kindling the energy hidden in matter a very small stage in a vast cosmic arena.</p>
    </section>
    <div class="slide">
        <div class="counter">
            <div class="name">D</div>
            <div class="name">R</div>
            <div class="blue4">0</div>
            <div class="red4">0</div>
        </div>
        <div id="map2" class="map">
          <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <div class="byline">Source: Dave Leip's Atlas of U.S. Elections | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Tim Pawlenty</h2>
        <div class="yearTag">2012 Republican Primary</div>
        <p>The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible. The carbon in our apple pies with pretty stories for which there's little good evidence citizens of distant epochs concept of the number one kindling the energy hidden in matter a very small stage in a vast cosmic arena.</p>
    </section>
    <div class="slide">
        <div class="counter">
            <div class="name">D</div>
            <div class="name">R</div>
            <div class="blue4">0</div>
            <div class="red4">0</div>
        </div>
        <div id="map3" class="map">
          <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <div class="byline">Source: Dave Leip's Atlas of U.S. Elections | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>
</div>