   <!-- <div class="slide" style="display:none !important;">
      <div class="dw-chart-body" id="chart">
        <table cellspacing="0" class="dw-table tablesorter tablesorter-default" role="grid">
           <thead>
              <tr role="row" class="tablesorter-headerRow">
                 <th class="date tablesorter-header sorter-false tablesorter-headerUnSorted" "="" data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="true" unselectable="on" aria-sort="none" style="user-select: none;">
                    <div class="gray4">year</div>
                 </th>
                 <th class="text tablesorter-header sorter-false tablesorter-headerUnSorted" "="" data-column="1" tabindex="0" scope="col" role="columnheader" aria-disabled="true" unselectable="on" aria-sort="none" style="user-select: none;">
                    <div class="blue4">DEM</div>
                 </th>
                 <th class="text tablesorter-header sorter-false tablesorter-headerUnSorted" "="" data-column="2" tabindex="0" scope="col" role="columnheader" aria-disabled="true" unselectable="on" aria-sort="none" style="user-select: none;">
                    <div class="red4">GOP</div>
                 </th>
                 <th class="text tablesorter-header sorter-false tablesorter-headerUnSorted" "="" data-column="3" tabindex="0" scope="col" role="columnheader" aria-disabled="true" unselectable="on" aria-sort="none" style="user-select: none;">
                    <div class="green3">IND</div>
                 </th>
              </tr>
           </thead>
           <tbody aria-live="polite" aria-relevant="all">
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1944</span><span class="raw-sortable">-820522800000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1948</span><span class="raw-sortable">-694288800000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1952</span><span class="raw-sortable">-568058400000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1964</span><span class="raw-sortable">-189367200000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1968</span><span class="raw-sortable">-63136800000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content">Humphrey, McCarthy</span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1972</span><span class="raw-sortable">63093600000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content">McCarthy</span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1976</span><span class="raw-sortable">189324000000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content">McCarthy</span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1980</span><span class="raw-sortable">315554400000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1984</span><span class="raw-sortable">441784800000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content">Mondale</span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1988</span><span class="raw-sortable">568015200000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1992</span><span class="raw-sortable">694245600000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content">McCarthy</span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">1996</span><span class="raw-sortable">883634400000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content">McCarthy</span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">2000</span><span class="raw-sortable">978328800000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Stassen</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">2012</span><span class="raw-sortable">1325397600000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content">Pawlenty, Bachmann</span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
              <tr role="row">
                 <td class="date" title="year"><span class="cell-content">2020</span><span class="raw-sortable">1577858400000</span></td>
                 <td class="text" title="DEM Candidates"><span class="cell-content">Klobuchar</span></td>
                 <td class="text" title="GOP Candidates"><span class="cell-content"></span></td>
                 <td class="text" title="IND Candidates"><span class="cell-content"></span></td>
              </tr>
           </tbody>
        </table>
        <div class="byline">Source: Star Tribune analysis | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
     </div>
    </div> -->